body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

#load {
    width: 60px;
    height: 60px;
    border: #333 solid;
    border-left-color: #fff;
    border-radius: 50%;

    animation: load 1.2s linear infinite;
}

.loading {
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

@keyframes load {
    to {
        transform: rotate(360deg);
    }
}